<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Pokedex</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel='stylesheet' href="{% static 'dex_app/css/master-styling.css' %}">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script></script>
        </script>
    </head>
    <body>
            
        <nav class="navbar navbar-inverse"">
            <div class="container-fluid">
                <div class="navbar-header"></div>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
        </nav>                 
        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th> 
                                <span>No.</span>
                            </th>
                            <th>
                                <span>Pokemon</span>
                            </th>
                            <th>
                                <span>Types</span>
                            </th>
                        </thead>
                        <tbody>
                            {% for pokemon in pokedex %}
                            <tr>
                                <td>
                                    {{pokemon.id}}
                                </td>
                                <td>
                                    {{pokemon.name}}
                                </td>
                                <td>
                                    {% for type in pokemon.type %}
                                        {{type.type}}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    

    </body>
</html>